.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gideon Roman', cursive;
  margin: 5vh;
  gap: 1vh;
}

.Header:hover {
  transform: scale(1.05);
}

.Header h1 {
  margin: 0;
  text-transform: uppercase;
}

.Header a {
  text-decoration: none;
  color: #543b25;
  font-size: 2vh;
}

.logo {
  width: 12vw;
  margin: 0;
}
